
/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  /*debug*/

  .debug {
    background-color: rgb(139, 198, 244);
    border:2px;
    padding: 10px;
    

    }

    .debug .debug{
        background-color: rgb(251, 255, 0);
      }

      .debug .debug .debug{
        background-color: rgb(148, 25, 25);
      }

    
      

      
      
       
      
    
      
      
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }



  .container-2 {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

 /*HEADER*/


 .page-header > .container{
    display: flex;
    justify-content:center;
    background-color: antiquewhite;

    

 }

 ul{
    list-style-type: none;
 }
 body{
    background-color: aliceblue;
 }
 

 .list-items{
    display: inline-block;
 }
 

 .container-1 {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    display: flex;
    background-color: blue;
    justify-content: space-around;
  }
 
    
.box{

    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    background-color: deeppink;
    margin-top: 20px;
}



.container-2{
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;}

    

    .box-2{

        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        background-color: deeppink;
        margin-top: 20px;}


    .box-3{
 

        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        background-color: rgb(255, 212, 20);
        margin-top: 20px;}

 
        .container-21{
            margin: 0 auto;
            padding: 0 10px;
            width: 1000px;
            max-width: 100%;
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            flex-direction: row-reverse;
        }
           
        

        .box-2-1{

            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            background-color: deeppink;
            margin-top: 20px;}
    
    
        .box-3-1{
     
    
            width: 300px;
            height: 200px;
            margin-bottom: 20px;
            background-color: rgb(255, 212, 20);
            margin-top: 20px;}
     
    
            .container-4 {
                margin: 0 auto;
                padding: 0 10px;
                width: 1000px;
                max-width: 100%;
                display: flex;
                background-color: rgb(157, 157, 166);
                justify-content: space-around;
              }

              .box-4{

                width: 500px;
                height: 300px;
                margin-bottom: 20px;
                background-color: rgb(36, 255, 20);
                margin-top: 20px;}


